/* colours: {
    #605B56 -- dark brown/grey
    #837A75 -- light brown/grey
    #99D19C -- green
    #79C7C5 -- blue
    #DBA159 -- yellow
} */

.App {
  text-align: center;
  width: 100%;
}

.title {
  font-size: 3em;
  margin: 0;
  background-image: linear-gradient(#35312e, #605b56);
  text-align: left;
  color: #dba159;
}

h2 {
  font-size: 0.1em;
}

.about {
  text-align: left;
  padding-inline: 2.5em;
  padding-top: 1em;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "header header header "
    " para para para"
    " link1 link2 link3"
    " extra extra extra";
}

.about h2 {
  grid-area: header;
}

.about a {
  color: #99d19c;
}

.about a:hover {
  color: #dba159;
}

.about .aboutInfo {
  font-size: 1em;
  grid-area: para;
}

.about .link1 {
  grid-area: link1;
  margin-bottom: 1em;
}
.about .link2 {
  grid-area: link2;
  margin-bottom: 1em;
}
.about .link3 {
  grid-area: link3;
  margin-bottom: 1em;
}
.about .aboutFooter {
  grid-area: extra;
  padding-top: 5em;
}
.navbar-container {
  background-color: #605b56;
  width: 100%;
  height: 2em;
}

.nav-text {
  color: #dba159;
  font-size: 1em;
  text-align: left;
}

.nav-text:hover {
  color: #dba159;
}

.nav-box {
  transition: 0.5s;
  background-color: #605b56;
  border-bottom: 4px solid #dba159;
  border-right: 4px solid #dba159;
}
.nav-box:hover {
  background-color: #837a75;
}

ul {
  list-style-type: none;
  padding: 0;
}

.articleCard {
  width: 30em;
  height: 10em;
  margin-inline: auto;
  margin-block: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "pic title"
    "pic timeCreated"
    "pic nothing"
    "pic info";
}

.articleCard h3 {
  font-size: 1em;
  margin-bottom: 0;
  grid-area: title;
  align-self: end;
  text-align: left;
}

.articleCard h4 {
  font-size: 0.5em;
  grid-area: timeCreated;
  align-self: start;
  text-align: left;
}

.articelCard img {
  grid-area: pic;
  width: 50px;
  height: 50px;
}
